<div class="imageblock left">
<div class="content">
<img src="/articles/about-me/geoffreyhuck.JPG" alt="Geoffrey Huck" width="150" height="150">
</div>
</div>
<div class="paragraph">
<p>My passion for computers started the very moment I put my hands on one. I was 10 and I still remember the wonder I felt when I entered the Internet. And from there, discovering C programming, the Hacker community and algorithms.</p>
</div>
<div class="paragraph">
<p>In high school, I represented France in the <a href="https://ioinformatics.org/page/ioi-2007/33" target="_blank" rel="noopener">
International Olympiad in Informatics (IOI)</a> in 2007. I also had several years of participation as a finalist in the nation-wide french contest <a href="https://prologin.org" target="_blank" rel="noopener">Prologin</a>.</p>
</div>
<div class="paragraph">
<p>In 2012, I launched my freelance web development services.</p>
</div>
<div class="paragraph">
<p>Then I founded my current company GEOT in 2015, which develops tools for businesses and organizations.</p>
</div>
<div class="paragraph">
<p>I explored the world as a digital nomad in 2018-2019, in what was considered the pre-corona era, and appreciated being able to see the world from different cultural perspectives.</p>
</div>
<div class="paragraph">
<p>For a glimpse of my work, do visit the open-source tool <a href="https://github.com/France-ioi/codecast" target="_blank" rel="noopener">Codecast</a> that allows the recording and playing of interactive coding sessions of Python on your browser.</p>
</div>
<div class="paragraph">
<p>Today, I happily live in France with my family, deepening my knowledge and understanding of life and (computer) sciences.</p>
</div>